:root {
  /* --backround-0: #dadada;
  --backround-1: #c0c0c0;
  --backround-2: #9e9e9e;
  --text-1: #1f1f1f;
  --text-2: #dddddd;
  --select-1:#059100; */

  --backround-0: #1d1d1d;
  --backround-1: #333;
  --backround-2: #242424;
  --text-1: #f2f2f2;
  --text-2: #000000;
  --select-1:#059100;
} 

body {
  margin: 0;
  padding-top: 48px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backround-0);
}

.topnav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 48px;
  overflow: hidden;
  background-color: var(--backround-1);
}

.topnav a {
  float: left;
  color: var(--text-1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--backround-2);
  color: var(--text-1);
}

.topnav a.active {
  background-color: var(--select-1);
  color: var(--text-1);
}

.red {
  background-color: #ff6161;
}

.blue {
  background-color: #6161ff;
}

.green {
  background-color: #059100;
}

.topnav #username {
  float: right;
  margin:0 !important;
  color: var(--text-1);
  background-color: var(--backround-2);
  border: none;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 17px;
  width:10vw;
}

.topnav #events {
  float: right;
  color: var(--text-1);
  background-color: var(--backround-2);
  border: none;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 17px;
  width:10vw;
  margin:0;
  margin-right: 10px;
}

.topnav #position {
  float: right;
  color: var(--text-1);
  background-color: var(--backround-2);
  border: none;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 17px;
  width:10vw;
  margin:0;
  margin-right: 10px;
}

p, label, h1, h2, h3, h4, h5, span {
  color: var(--text-1);
}

th, td {
  border: 1px solid var(--text-1);
  color:var(--text-1);
  padding: 3px;
}

#qr{
  position: fixed;
  left:0;
  width:calc(100vh - 48px);
  top:0;
}
#qrspeed {
  -webkit-appearance: slider-vertical;
  position: fixed;
  left: 98vh;
  top: 5vh;
  height: 75vh;
}
#qrsize {
  -webkit-appearance: slider-vertical;
  position: fixed;
  left: 103vh;
  top: 5vh;
  height: 75vh;
}

#qrbar {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  overflow: visible;
  height:48px;
  background-color: var(--backround-1);
  padding-top: 5px;
  padding-bottom: 5px;
}
.qrbarfalse {
  float: left;
  background-color: #9c0000;
  height:100%;
  width:3px;
}
.qrbartrue {
  float: left;
  background-color: #059100;
  height:100%;
  width:3px;
}
.qrbartruesel {
  float: left;
  background-color: #ffff00;
  height:100%;
  width:3px;
}

iframe {
  position: fixed;
  top:48px;
  left:0;
  width: 100%;
  height: 100%;
}

.half {
  width: 49% !important;
  display: inline !important;
}
.third {
  width: 33% !important;
  display: inline !important;
}
.left {
  display:inline-block;
}
.right {
  display:inline-block;
  float: right;
}
